<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<h1> Django Celery Example </h1>
<br>
<a href="{% url 'user_list' %}">User List / </a> <a href="{% url 'generate_users' %}">Generate random users</a>
<hr>
{% if users is None %}
<h1> Users List </h1>
<ul>
    <li>No users <a href="{% url 'generate_users' %}">Generate some random users</a></li>
</ul>
{% else %}
{% for user in users%}
<ul>
    <li>{{ user.id }}  {{ user.username }}  {{ user.email }} </li>
</ul>
{% endfor %}
{% endif %}
</body>
</html>